lab_6_gitHUB/obj/Debug lab_6_gitHUB/obj/lab_6_gitHUB.csproj.nuget.dgspec.json lab_6_gitHUB/obj/lab_6_gitHUB.csproj.nuget.g.props lab_6_gitHUB/obj/lab_6_gitHUB.csproj.nuget.g.targets lab_6_gitHUB/obj/project.assets.json lab_6_gitHUB/obj/project.nuget.cache
lab_6_gitHUB/bin/Debug
lab_6_gitHUB/obj/Debug lab_6_gitHUB/obj/lab_6_gitHUB.csproj.nuget.dgspec.json lab_6_gitHUB/obj/lab_6_gitHUB.csproj.nuget.g.props lab_6_gitHUB/obj/lab_6_gitHUB.csproj.nuget.g.targets lab_6_gitHUB/obj/project.assets.json lab_6_gitHUB/obj/project.nuget.cache
lab_6_gitHUB/bin/Debug
